#box{
	width: 300px;
	height: 300px;
	background: #009670;
	margin: 50px auto;
	padding: 8px;
	box-shadow: 10px 10px 20px 20px rgba(0,0,0,0.5);
	
	
}
#box h1{
	color: white;
	font-size: 60px;
	/*text-shadow: 10px 10px  black;*/
	text-shadow: 10px 10px  black;
}

/*ANIMACOES*/
@keyframes animacao-box{

	from {background: red; border-radius: 0px; top: 0;left: 0}
	to {background: yellow; border-radius: 100px;top: 200px;left: 200px;}

}
#box-animacao{
	width: 300px;
	height: 300px;
	background: red;
	position: relative;;
/*	animation-name: animacao-box;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate;*/
	animation: animation-box 5s 3s 2 alternate 
}

/*TRANSICOES*/
#box-transicao{
	width: 300px;
	height: 300px;
	background: orange;
}
#box-transicao:hover{
	width: 400px;
	background: red;
	transition: all 2s;


}